.MovieTitle {
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin-top: revert;
    font-size: 36px;
}
.GenereTitle{
    display: flex;
    font-weight: bold;
    justify-content: left;
    padding-left: 40px;
}